.sidebar {
    height: 100vh;
    width: 18rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .logo {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 1rem;
  }
  
  .hamburger {
    border: none;
    background: none;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  
  .closeBtn {
    border: none;
    padding: 1rem 2rem;
    background-color: #97bf0f;
    color: white;
    font-size: 2rem;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
  }
  
  .navlinks {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navlinks a {
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  
  .footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .logoutbtn {
    border: none;
    background-color: #fd3f3f;
    width: 100%;
    padding: 1rem 0;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .logoutbtn:hover {
    background-color: #ec1616;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  }
  
  .icons span {
    padding: 0.5rem;
  }
  
  .icons span :hover {
    color: #97bf0f;
  }
  
  .icons svg {
    cursor: pointer;
  }
  
  .footerText {
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }