.doctors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}
.doctor-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}
.doctor-container1 {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.doctor-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}

.doctor-image1 {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.doctor-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.doctor-name {
  font-weight: bolder;
  color: rgb(2, 67, 163);
  text-align: center;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}
.doctor-name1 {
  font-weight: bolder;
  color: rgb(2, 67, 163);
  text-align: center;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  font-size: 28px;
  text-align: right;
}
.doctor-specialization {
  font-size: 1.5rem;
}
.doctor-specialization1 {
  font-size: 0.9rem;
  text-align: right;
}
.doctor-fee {
  font-size: 1.5rem;
}
.doctor-fee1 {
  font-size: 1.2rem;
  background-color: rgb(189, 187, 187);
  width: 300px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doctor-bio {
  font-size: 1rem;
}
.doctor-bio1 {
  font-size: 1rem;
  text-align: right;
}

.doctor-city {
  text-align: center;
  font-weight: bolder;
  color: rgb(78, 78, 78);
}
.doctor-city1 {
  text-align: right;
  font-weight: bolder;
  color: rgb(78, 78, 78);
}
.appointment-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.appointment-button {
  padding: 1rem;
  gap: 1rem;
}

.sectionTitle {
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
}

.sectionMini {
  text-align: center;
  margin-top: 25px;
  font-weight: bolder;
}

.react-multiple-carousel__arrow--right {
  background-color: rgb(113, 243, 27);
  width: 120px;
  height: 70px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.react-multiple-carousel__arrow--left {
  background-color: rgb(113, 243, 27);
  width: 120px;
  height: 70px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.subWindow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navigationWindow {
  width: 18%;
  height: 100vh;
}

.carouselWindow {
  width: 82%;
}

.burger {
  width: 50px;
  height: 40px;
  cursor: pointer;
  margin-top: 30px;
}

.burgerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: white;
  margin-left: 30px;
  margin-top: 20px;
}

.returnArrow {
  background-color: rgb(113, 243, 27);
  padding: 20px;
  padding-left: 30px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  cursor: pointer;
  border: none;
  outline: none;
}

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.backArrow {
  width: 20px;
  height: 20px;
}

.optionLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bolder;
}

.navigationOptions {
  margin-top: 70px;
}

.navButton {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.bookAppointment {
    border-radius: 20px;
    background-color: rgb(113, 243, 27);
    border: none;
    outline: none;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.nextImage {
    width: 20px;
    height: 20px;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.icons img {
  width: 15px;
  height: 15px;
}

.logoutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bolder;
}
.logoutSection button {
  color: white;
  border: none;
  outline: none;
  background-color: red;
  cursor: pointer;
}